<div
  class="h-4 border-y border-y-(--color) bg-[image:repeating-linear-gradient(315deg,_var(--color)_0,_var(--color)_1px,_transparent_0,_transparent_50%)] bg-[size:12px_12px] bg-fixed bg-background [--color:var(--color-primary-700)]/50"
>
</div>
