<div
  class="w-4 md:w-8 border-x border-x-(--color) bg-[image:repeating-linear-gradient(315deg,_var(--color)_0,_var(--color)_1px,_transparent_0,_transparent_50%)] bg-[size:12px_12px] bg-background bg-fixed [--color:var(--color-primary-700)]/50"
>
</div>
