---
import HeaderIcons from "./HeaderIcons.astro";
---

<HeaderIcons />
<header
  class="px-8 sticky top-0 z-10 pt-4 bg-background flex flex-col gap-2 max-sm:text-center"
>
  <h1 class="font-black sm:line-clamp-1">¿Cómo se jugaba?</h1>
  <p class="text-[50%] line-clamp-1 max-sm:hidden">
    Set of card games with standardized rules
  </p>
</header>
<style>
  @keyframes header-transform {
    from {
      height: 450px;
      /* justify-content: start; */
      font-size: clamp(2em, 8vw, 5em);
      /* padding-bottom: 1em; */
    }
    to {
      height: 150px;
      font-size: clamp(1.5em, 2.2vw, 2em);
      /* padding-bottom: 0; */
    }
  }
  @keyframes header-transform-sm {
    from {
      height: 450px;
      /* justify-content: start; */
      font-size: clamp(2em, 8vw, 5em);
      /* padding-bottom: 1em; */
    }
    to {
      height: 80px;
      font-size: clamp(1.5em, 2.2vw, 2em);
      /* padding-bottom: 0; */
    }
  }

  header {
    justify-content: center;

    animation: header-transform linear forwards;
    @media screen and (max-width: 768px) {
      animation: header-transform-sm linear forwards;
    }
    animation-timeline: scroll();
    animation-range: 0vh 40dvh;
  }
</style>
